@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

body {
  margin: 0;
  font-family: 'Bakbak One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:#161122;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
